# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Experiment folders
wandb/
outputs/
experiments/
runs/
checkpoints/

# Data folders
data/raw/
data/processed/
data/processed_test/
data/filtered/

# Local environment files
.env
.env.*
